.entry-area {
    border: 1px solid #ccc;
}

.entry-header {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    padding-right: 5%; 
}

.entry-body {
    padding: 5% 5% 5% 5%;
}

.content {
    height: 600px;
    display:grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}

.btn-outline-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 25%
}

.btn-outline-primary:hover {
    width: 25%
}

#title-form {
    padding-top: 5%;
    padding-left: 5%; 
}